@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* ============================
    Configuración General
============================ */

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    letter-spacing: normal;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;
}

/* Estilos generales para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;  
    background-color: #1a1a1a;  
}

::-webkit-scrollbar-thumb {
    background-color: #1a2a3a;  
    border-radius: 10px;  
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);  
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4a91cc;  
}

::-webkit-scrollbar-track {
    background-color: #1a1a1a;  
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);  
}

/* ============================
    Estilo del Body
============================ */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: linear-gradient(to bottom, 
        #FF7E5F,   /* Atardecer cálido */
        #6A0572,   /* Un tono más oscuro para la transición */
        #030D3D,   /* Tono de crepúsculo más oscuro */
        #000000);  /* Noche */
    background-attachment: fixed;
    color: white;
    transition: background-color 1s ease;
}

/* ============================
    Fondo de Estrellas Animado
============================ */

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: blink 0.3s infinite alternate; 
}

@keyframes blink {
    0%, 100% {
        opacity: 0.1;
    }
    50% {
        opacity: 1.5;
    }
}

/* ============================
    Barra de Navegación
============================ */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.942);
    padding: 1rem 0;
    transition: background-color 0.3s;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    
}

.nav li {
    position: relative;
}

.nav a {
    text-decoration: none;
    font-size: 1rem; /* Reduce el tamaño del texto */
    color: #e8eaed;
    padding: 10px 15px;
    transition: color 0.3s ease;
    text-align: center; /* Asegura que el texto esté centrado */
}

.nav a:hover {
    color: #ffffff;
}

.nav a::before, .nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #5fb2ff;
    transition: width 0.5s ease;
    opacity: 0.7;
}

.nav a::before {
    top: 0;
    left: 0;
}

.nav a::after {
    bottom: 0;
    right: 0;
}

.nav a:hover::before, .nav a:hover::after {
    width: 100%;
}

.nav li:first-child {
    margin-right: 90px; /* Espacio adicional en la versión de escritorio */
}

.nav li:nth-child(2) {
    margin-left: 4rem; /* Añade espacio a la derecha de "ASTROVELOXER" */
}

/* ============================
    Responsividad de la Barra de Navegación
============================ */

@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav.active {
        display: flex;
    }

    .nav li {
        margin: 10px 0;
    }

    .nav a {
        font-size: 1rem;
        padding: 10px 0;
    }

    .nav li:first-child {
        margin-right: 0; /* Elimina el margen extra en la versión móvil */
    }
}

/* ============================
    Bienvenida a Usuario
============================ */

.nav .welcome-user {
    color: #fff;
    font-size: 1.5rem;
    margin-left: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

/* ============================
    Menú Burger
============================ */

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

/* Animación para la apertura de la Burger Bar */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }
}

/* ============================
    Sección "Cómo Iniciar en Astrofotografía"
============================ */
.announcement-yo {
    backdrop-filter: blur(8px); /* Efecto borroso */
    padding: 15px 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    margin: 20px 0; /* Espaciado externo */
    font-size: 1.2rem; /* Tamaño de fuente */
    text-align: center; /* Centrar el texto */

    
    
}


.announcement-yo p {
    margin-bottom: 20px; /* Espacio entre los párrafos */
    text-align: justify; /* Justifica el texto para un aspecto más uniforme */

}

.hidden-text {
    display: none; /* Oculto inicialmente */
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 0s 1s; /* Transición para la opacidad */
    margin-top: 20px;
    background-color: rgba(153, 153, 153, 0.359);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: #ffffff;
}

.hidden-text.show {
    display: block; /* Mostrar el elemento */
    opacity: 1; /* Opacidad completa para mostrar */
    transition: opacity 2s ease-in-out; /* Transición para la opacidad */
    visibility: visible;
}



.reveal-button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: rgba(100, 100, 255, 0.1);
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}

.reveal-button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50px;
    background: linear-gradient(45deg, #6a0dad, #ff1493, #1e90ff, #00fa9a);
    background-size: 300%;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease;
}

.reveal-button:hover::before {
    opacity: 1;
    filter: blur(5px);
    animation: glow 1.5s infinite;
}

@keyframes glow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.reveal-button:hover {
    color: #fff;
    background-color: rgba(100, 100, 255, 0.3);
    border-color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.4);
}





.como-iniciar {
    padding: 100px 50px;
    color: #ffffff;
    text-align: center;
    border-radius: 15px;
    margin-top: 100px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    margin: 0 auto; /* Centra la grilla */
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr); /* Mantiene 2 cards en pantallas grandes */
    }
}

.card {
    position: relative;
    list-style: none;
    width: 100%; 
    max-width: 250px; 
    margin: auto; 
    overflow: hidden; 
    border-radius: var(--spacing-l); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 50px;
    margin-bottom: 50px;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 130%; 
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05);
    filter: brightness(1) saturate(1.2) contrast(1);
}

.card.inactive .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    position: absolute;
    bottom: 140px;
    left: 20px;
    z-index: 2;
    color: #ffffff; 
    text-align: left; 
}

.card__category {
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    color: #ffffff; 
}

.card__heading {
    font-size: 1.5rem; 
    line-height: 1.4;
    color: #ffffff; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.808); 
}

/* ============================
    HOME SECTION
============================ */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.home .content {
    max-width: 50rem;
    margin-left: 30px;
}

.home .content h3 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

/* ============================
    Sección "El Porqué Ver Hacia Arriba"
============================ */

section.nosotros {
    padding: 50px 0;
}

section.nosotros .heading {
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

section.nosotros .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.nosotros .image {
    flex: 1 1 15%; 
    text-align: center;
    margin-bottom: 10%;
}

section.nosotros .image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
  
}

section.nosotros .content {
    flex: 1 1 50%; 
    animation: float 3s ease-in-out infinite; 
    color: #ffffff; 
}

section.nosotros .content p {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 90px;
    margin-right: 40px;
    margin-left: 20px;
}

/* ============================
    Sección de Encabezados y Texto
============================ */

.heading {
    font-size: 3.5rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.heading span {
    color: #5fb2ff; 
}

/* ============================
    Estilos de Texto Introductorio
============================ */

.intro-text-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.intro-text-part {
    flex: 1 1 300px; 
    min-width: 300px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .intro-text-container {
        flex-direction: column; 
        align-items: center;
    }

    .intro-text-part {
        flex: 1 1 auto;
        max-width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .intro-text-container {
        padding: 10px;
    }

    .intro-text-part {
        padding: 5px;
    }
}
.tutorial-link {
    color: #5fb2ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 1s ease, border-bottom 1s ease;
    
}

.tutorial-link:hover {
    color: #ffffff;
    border-bottom: 2px solid #2283de;
    background-color: #5fb2ff5c;
    padding: 3px 5px;
    border-radius: 5px;
}

/* ============================
    Pie de Página
============================ */

.footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.social-links {
    margin-bottom: 10px;
}

.social-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.social-link img {
    width: 24px;
    height: 24px;
}

.footer-info {
    font-size: 0.9rem;
    color: #cccccc;
}




/* Ajustes para pantallas medianas */
@media (max-width: 940px) {

    
    .heading {
        font-size: 2rem; /* Ajustar el tamaño de los títulos */
    }

    .explore-home .explore-content h3 {
        font-size: 3rem; /* Reducir el tamaño del título en la sección 'Explora y Comparte el Cosmos' */
    }

    .home .content h3 {
        font-size: 3.5rem; /* Reducir el tamaño del título en la sección 'Home' */
    }

    .publish-content h3 {
        font-size: 2.5rem; /* Reducir el tamaño del título en la sección 'Publica tus fotos' */
    }

    .footer-info {
        font-size: 0.9rem; /* Ajustar el tamaño del texto en el pie de página */
    }

    .explore-home .explore-content p,
    .home .content p,
    .publish-content p {
        font-size: 1.5rem; /* Ajustar el tamaño del párrafo */
    }

    

    .nav a {
        font-size: 0.66rem; /* Ajustar el tamaño de fuente en la navegación */
       margin-left: 2px;
       margin-right: 2px;
      
        
    }
}

















/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
    .heading {
        font-size: 1.5rem; /* Reducir más el tamaño de los títulos */
    }

    .explore-home .explore-content h3 {
        font-size: 2.5rem; /* Reducir más el tamaño del título en la sección 'Explora y Comparte el Cosmos' */
    }

    .home .content h3 {
        font-size: 2.5rem; /* Reducir más el tamaño del título en la sección 'Home' */
    }

    .publish-content h3 {
        font-size: 2rem; /* Reducir más el tamaño del título en la sección 'Publica tus fotos' */
    }

    .footer-info {
        font-size: 0.8rem; /* Reducir el tamaño del texto en el pie de página */
    }

    .explore-home .explore-content p,
    .home .content p,
    .publish-content p {
        font-size: 1.2rem; /* Ajustar el tamaño del párrafo */
    }

    .nav a {
        font-size: 1rem; /* Ajustar el tamaño de fuente en la navegación */
    }
}

/* Evitar zoom excesivo */
html {
    touch-action: manipulation;
    user-select: none;
}

body {
    overscroll-behavior: contain;
}




























/*****************************************************************************************/
/* Sección de Astrofotografía */
/*****************************************************************************************/

/* ============================
    SECCIÓN "Explora y Comparte el Cosmos"
============================ */

.explore-home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.explore-home .explore-content {
    max-width: 70rem;
    margin-left: 50px;
}

.explore-home .explore-content h3 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.explore-home .explore-content p {
    font-size: 1.7rem;
    font-weight: lighter;
    line-height: 1.9;
    padding: 1rem 0;
    color: #fff;
}
/* Ajustes para pantallas medianas */
@media (max-width: 930px) {
    .explore-home .explore-content h3 {
        font-size: 3rem; /* Reducir más el tamaño del título en la sección 'Explora y Comparte el Cosmos' */
    }
   
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
    .explore-home .explore-content h3 {
        font-size: 2rem; /* Reducir aún más el tamaño del título en la sección 'Explora y Comparte el Cosmos' */
    }
}

/* ============================
    SECCIÓN Astrofotografía
============================ */

.astrofotografia {
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.filter-buttons {
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-buttons button.active,
.filter-buttons button:hover {
    background-color: #00aaff;
}

/* ============================
    Galería de Imágenes
============================ */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-item {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.image-item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.image-item:hover {
    transform: scale(1.05);
}

/* ============================
    Lightbox para Imágenes
============================ */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    max-height: 90%;
    color: #fff;
}

.lightbox img {
    max-width: 50%;
    max-height: 80vh;
    border-radius: 10px;
    object-fit: contain;
}

#lightbox-info {
    max-width: 45%;
    font-size: 1.5rem;
    text-align: left;
    overflow-y: auto;
    max-height: 80vh;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* ============================
    Responsividad para pantallas medianas
============================ */

@media (max-width: 768px) {
    /* Ajustes para el body */
    body {
        background: linear-gradient(to bottom, 
            #FF7E5F,   
            #6A0572,   
            #030D3D,   
            #000000);
        background-attachment: scroll; 
    }

    /* Ajustes para la barra de navegación */
    .nav a {
        font-size: 1.5rem;
    }

    /* Ajustes para la sección "Cómo Iniciar en Astrofotografía" */
    .como-iniciar {
        padding: 50px 20px;
    }

    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Ajustes para las tarjetas */
    .card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    /* Ajustes para la sección "El Porqué Ver Hacia Arriba" */
    section.nosotros .content {
        font-size: 1.2rem;
    }

    section.nosotros .image {
        flex: 1 1 50%;
        margin-bottom: 20px;
    }

    /* Ajustes para el pie de página */
    .footer {
        padding: 10px;
    }
}

/* ============================
    Responsividad para pantallas pequeñas
============================ */

@media (max-width: 480px) {
    /* Ajustes para la barra de navegación */
    .nav a {
        font-size: 1.2rem;
    }

    .nav li {
        margin: 5px 0;
    }

    /* Ajustes para la sección "Cómo Iniciar en Astrofotografía" */
    .como-iniciar {
        padding: 30px 10px;
    }

    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Ajustes para la sección "El Porqué Ver Hacia Arriba" */
    section.nosotros .content {
        font-size: 1rem;
    }

    section.nosotros .image {
        flex: 1 1 70%;
    }

    /* Ajustes para el pie de página */
    .footer {
        padding: 5px;
        font-size: 0.8rem;
    }
}

/* ============================
    Mensajes Restrictivos
============================ */

.restricted-message {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #ffffff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.restricted-message a {
    color: #00aaff;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.restricted-message a:hover {
    color: #0077cc;
}

/* ============================
    SECCIÓN Subir Fotos
============================ */

.publish-section {
    background-color: #1a1a1a;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.publish-content {
    max-width: 800px;
    margin: 0 auto;
}

.publish-content h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #00aaff;
    margin-bottom: 20px;
}

.publish-content p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 40px;
    color: #ccc;
}

.publish-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.publish-content input,
.publish-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

.publish-content button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.publish-content button:hover {
    background-color: #0077cc;
}

.photo-forum {
    margin-top: 50px;
    text-align: left;
}

.photo-forum h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00aaff;
}

/* ============================
    Galería del Foro de Fotos
============================ */

.forum-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.forum-item {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1e1e1e;
    padding: 10px;
}

.forum-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.forum-item p {
    margin-top: 10px;
    color: #fff;
    font-size: 1rem;
}

/* ============================
    Lightbox para Fotos de Usuarios
============================ */

.user-lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.user-lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.user-lightbox .close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.user-lightbox .close:hover,
.user-lightbox .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#userLightboxCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* ============================
    Estado de Subida de Archivos
============================ */

.upload-status {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.upload-status p {
    color: #333;
}


























/* ============================
    Sección de Introducción
============================ */

.manual-intro {
    padding: 100px 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 50px;
}

.manual-heading {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro {
    font-size: 1.5rem;
    line-height: 1.8;
}

h2 {
    font-size: 2rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

/* ============================
    Sección Tipos de Telescopios
============================ */

.telescopio-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.telescopio-item img {
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
    max-width: 100%;
}

.curious-fact {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.telescopio-item h3,
.telescopio-item p {
    order: 1;
    max-width: 50%;
}

@media (max-width: 768px) {
    .telescopio-item {
        flex-direction: column;
        align-items: center;
    }

    .telescopio-item img {
        order: 0;
        max-width: 80%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .telescopio-item h3,
    .telescopio-item p {
        order: 0;
        max-width: 100%;
        text-align: center;
    }
}

/* ============================
    Sección Cómo Elegir un Telescopio
============================ */

.elegir-telescopio {
    padding: 60px 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.elegir-telescopio p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #ffffff;
    margin-bottom: 20px;
}

.elegir-telescopio h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #f2f2f2;
}

.elegir-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
}

.elegir-list li {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
}

.elegir-list strong {
    color: rgb(61, 139, 255);
    margin: 10px;
}

.elegir-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.elegir-list li::before {
    content: '🔭';
    font-size: 1.5rem;
    margin-right: 15px;
    color: #5fb2ff;
}

.elegir-list li p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px;
    color: #ffffff;
}

/* ============================
    Sección Tipos de Monturas
============================ */

.monturas {
    padding: 50px 20px;
    text-align: center;
    color: #ffffff;
}

.monturas-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
}

.montura-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.montura-item:nth-child(even) {
    flex-direction: column-reverse;
}

.montura-item:nth-child(odd) {
    flex-direction: column;
}

.montura-item h3 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #5fb2ff;
}

.montura-item p {
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.montura-item img {
    max-width: 50%;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .montura-item {
        flex-direction: column;
        align-items: center;
    }

    .montura-item img {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

/* ============================
    Sección Instrucciones para Monturas
============================ */

.manual-instrucciones {
    padding: 50px 20px;
    text-align: center;
    color: #ffffff;
}

.montura {
    padding: 30px;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.montura h3 {
    font-size: 2rem;
    color: #5fb2ff;
    margin-bottom: 20px;
}

.montura-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.montura:nth-child(even) .montura-content {
    flex-direction: row-reverse;
}

.montura-img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.montura-text {
    max-width: 600px;
}

.step-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.step-list li {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.step-list li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.step-details {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    line-height: 1.6;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.step-details.active {
    max-height: 1000px;
    opacity: 1;
}

/* ============================
    Datos Curiosos
============================ */

.curious-fact {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.curious-fact img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.curious-fact:hover img {
    transform: scale(1.1);
}

.curious-fact p {
    font-size: 0.8rem;
}

.fact-text {
    display: none;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.5rem;
    color: #fff;
    animation: fadeIn 0.5s ease-in-out;
}

.fact-text.active {
    display: block;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ============================
    Ventana flotante para datos curiosos
============================ */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    color: #000000;
    z-index: 1001;
}

.close-btn {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 70px;
}

.modal-overlay.show {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
}

/* ============================
    Responsive Design
============================ */

@media (min-width: 768px) {
    .montura-content {
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }

    .montura:nth-child(even) .montura-content {
        flex-direction: row-reverse;
    }
}
@media (max-width: 768px) {
    .montura-content {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center; /* Centra el contenido */
        text-align: center; /* Alinea el texto al centro */
    }

    .montura:nth-child(even) .montura-content {
        flex-direction: column; /* Asegura que también las monturas pares se alineen en columna */
    }

    .montura-img {
        max-width: 80%; /* Reduce el tamaño de la imagen para pantallas pequeñas */
        margin-bottom: 20px; /* Añade espacio debajo de la imagen */
    }

    .montura-text {
        max-width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    }

    .step-list {
        text-align: center; /* Centra los pasos en pantallas pequeñas */
    }
}






































/* ============================
    Efectos Automáticos en Dispositivos Móviles
============================ */
@media (max-width: 768px) {
   

    /* Efecto de Hover en Botones de Reveal */
    .reveal-button {
        color: #fff;
        background-color: rgba(100, 100, 255, 0.3);
        border-color: #fff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.4);
    }
    .reveal-button::before {
        opacity: 1;
        filter: blur(5px);
        animation: glow 1.5s infinite;
    }

    /* Efecto de Brillo en Imágenes de Tool Links */
    .tool-link img {
        transform: scale(1.1);
        opacity: 0.8;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    /* Efecto de Hover en Cards */
    .card .card__background {
        transform: scale(1.05);
        filter: brightness(1) saturate(1.2) contrast(1);
    }
    
   

    /* Efecto en los Títulos de la Página de Inicio */
    .home .content h3 {
        transform: scale(1.05);
        color: #5fb2ff;
    }

    /* Efecto en el Fondo Animado de Estrellas */
    .star {
        opacity: 1.5;
        animation: blink 1s infinite alternate;
    }

    /* Otros efectos hover que necesiten aplicarse en móviles */
    /* Añadir más según lo necesites */
}
